header{
    background-color: #FDFEFE;
    color: #040f0f;
}
header nav a:hover{
    background-color: rgb(255, 203, 211);
}
.current{
    background-color: rgb(255, 203, 211);
}
a:visited{
    color: #040f0f;
}

nav ul{
    list-style: none;
    background-color: rgb(255, 237, 240);
}

nav li{
    float: right;
}
nav a{
    text-decoration: none;
    padding:  0 4em 0 4em;
    margin-bottom: 10px;
    text-align: end;
    font-size: 1rem;

}
img{
    height: 250px;
    padding-left: 10px;
}