<footer>
    <div id="footer-div">
        <div class="footer-info">
            <p class="bold-title">Kontakt</p>
            <p>Linneans Universitet</p>
            <p>Linnea vägen 1</p>
            <p>111 11 Linneaön</p>
            <br>
            <p>010-123 45</p>
            <p>help&#64;linneauni.se</p>
        </div>
        <div class="footer-links">
            <p class="bold-title">Linneans Universitet</p>
            <ul>
                <li><a>Om Linneans Universitet</a></li>
                <li><a>Student på Linneans</a></li>
                <li><a>Utbildning</a></li>
                <li><a>Forskning</a></li>
                <li><a>Felanmälan</a></li>
                <li><a>Linneans universitetsbibliotek</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <p class="bold-title">Tjänster</p>
            <ul>
                <li><a>Schema</a></li>
                <li><a>Kurs- och programwebb</a></li>
                <li><a>Lärplattformen Moodle</a></li>
                <li><a>Webbmejl</a></li>
            </ul>
        </div>
    </div>

</footer>
