/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    padding: 0%;
    margin: 0%;
   overflow-x: hidden;
}
body{
    --bkg-color: #F1F1F1;
    --txt-color: #040f0f;
   
}
body.dark-theme{
    --bkg-color: #040f0f;
    --txt-color: #F1F1F1;
}
body{
    background-color: var(--bkg-color);
    color: var(--txt-color);
    font-family: 'open sans', arial, sans-serif;
}
#container{
    width: 70%;
    margin: auto;
    padding: 5%;
}


