


    <div id="about-div">
        <img src="../assets/heroimg.jpg" alt="Linneans universitet" id="heroImg">
        <div id="about-text">
        <h2>Linneans universitet är ett universitet beläget på Linneaön. Universitetet har gamla anor och grundades redan under 1600-talet. </h2>
        <h3>Linneans universitetet erbjuder {{courseList.length}}&nbsp;stycken kurser inom flertalet olika ämnesområden. </h3>
        </div>
    </div>

    <div id="container">
    <div id="info-container">
    <div class="info-div">
        <h3>Är du intresserad av IT?</h3>
        <p>IT-sektorn är en bransch i ständig utveckling som alltid är i behov av nya förmågor.</p>
        <p>Här på Linneans universitet erbjuder vi flertalet kurser inom datateknik som ger dig goda kunskaper inför arbetslivet. </p>
    <br>
        <p><a class="p-link">Se våra kurser inom datateknik&IT här!  </a></p>
    </div>
    <div class="info-div">
        <h3>Ny student? Titta hit!</h3>
        <p>Har du funderingar kring boende, bibliotekskort, dina kurser eller något annat?</p>
        <p>Vi vet att det kan vara många frågor när man börjar studera, länken nedan ger dig svar på de vanligaste frågorna.</p>
        <br>
        <p><a class="p-link">Här hittar du all information du behöver.</a></p>
    </div>
    <div class="info-div-big">
        <h3>Vi erbjuder kurser inom följande ämnen: </h3>
              <span *ngFor="let subject of subjectList">{{ subject }} &nbsp;&bull;&nbsp;</span>
    </div>
    </div>

</div>